<!-- Modal edicion Educacion-->
<div class="modal fade" id="modalEducacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar educación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!--Aqui va el formulario-->
                <div class="row">
                    <div class="col-10 order-first">
                        <div class="mb-3">
                            <label for="formFileSm" class="form-label">
                                <h5>Institución</h5>
                            </label>
                            <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm"
                                aria-label=".form-control-sm example">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10 order-first">
                        <div class="mb-3">
                            <label for="formFileSm" class="form-label">
                                <h5>Carrera/Curso</h5>
                            </label>
                            <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm"
                                aria-label=".form-control-sm example">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10 order-first">
                        <div class="mb-3">
                            <label for="formFileSm" class="form-label">
                                <h5>Desde</h5>
                            </label>
                            <input class="form-control form-control-sm" type="date" placeholder=".form-control-sm"
                                aria-label=".form-control-sm example">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10 order-first">
                        <div class="mb-3">
                            <label for="formFileSm" class="form-label">
                                <h5>Hasta</h5>
                            </label>
                            <input class="form-control form-control-sm" type="date" placeholder=".form-control-sm"
                                aria-label=".form-control-sm example">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10 order-first">
                        <div class="mb-3">
                            <label for="formFileSm" class="form-label">
                                <h5>Descripción</h5>
                            </label>
                            <textarea class="form-control form-control-sm" type="text" placeholder=".form-control-sm"
                                aria-label="With textarea"></textarea>
                        </div>
                    </div>
                </div>
                <!--Boton de guardado-->
                <div class="modal-footer">
                    <div class="row d-flex">
                        <div class="col-12 d-flex justify-content-end">
                            <div class="mb-3 float-right">
                                <button type="button" class="btn btn-dark btn-sm">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>