.row{
    padding: 20px;
    margin-top:20px;
}
div{
    background-color: rgb(255, 226, 146);
    border-radius: 3em;
    margin-left: 10px;
    margin-right: 10px;
}
h1, h3{
    display: inline;
}
li{
    list-style: none;
}