<section id="experiencia" class="experiencias">
  <div class="contenedor">
    <div class="row bg-dark p-2  bg-opacity-10">
      <div class="col-md-10">
        <h4>Experiencia</h4>
      </div>
    </div>
    <div class="table-responsive" *ngFor="let experiencia of experiencias">
      <table class="table table-responsive table-bg-#rgb(255, 226, 146)">
        <thead>
          <tr>
            <th scope="col" colspan="12">
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>{{experiencia.id}}- {{experiencia.empresa}}</p>
            </td>
            <td>
              <P>{{experiencia.puesto}}</P>
            </td>
            <td>
              <p>{{experiencia.inicio}}</p>
            </td>
            <td>
              <P>{{experiencia.final}}</P>
            </td>
          </tr>
          <tr>
            <td colspan="12">
              <p>{{experiencia.descripcion}}</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
