<section id="experiencia" class="experiencias">
  <div class="contenedor">
    <div class="row bg-dark p-2  bg-opacity-10">
      <div class="col-md-10">
        <h4>Experiencia</h4>
      </div>
      <div class="col-md-2">
        <div *ngIf="modoEdit">
          <button type="button" class="btn btn-dark btn-sm, botonAdd" routerLink="/addExperiencia/">Agregar+</button>
        </div> 
      </div>
    </div>
    <div class="table-responsive" *ngFor="let experiencia of experiencias">
      <table class="table table-responsive">
        <thead>
          <tr>
            <th scope="col" colspan="12">
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>-{{experiencia.empresa}}</p>
            </td>
            <td>
              <P>{{experiencia.puesto}}</P>
            </td>
            <td>
              <p>{{experiencia.inicio_exp}}</p>
            </td>
            <td>
              <p>{{experiencia.fin_exp}}</p>
            </td>
            <div *ngIf="modoEdit">
            <td>
              <button type="submit" class="btn btn-close-white btn-sm, botonAdd" routerLink="/editExperiencia/{{experiencia.id}}">
                <img class="botonEfecto"
                src="../assets/edit.png"
                id="editar" >
              </button>
            </td>
            <td>
              <button type="submit" class="btn btn-close-white btn-sm, botonAdd">
                <img class="nav-menu-link-img"
                  src="../assets/delete.png" id="borrar" (click)="borrarExpe(experiencia.id)">
              </button>
            </td>
            </div>
          </tr>
          <tr>
            <td colspan="4">
              <p>{{experiencia.descripcion_exp}}</p>
            </td> 
          </tr>
        </tbody>
      </table>
      <br><br>
    </div>
  </div>
</section>
