<section id="educación" class="estudios">
  <div class="contenedor">
    <div class="row bg-dark p-2 bg-opacity-10">
      <div class="col-md-10">
        <h4>Educación</h4>
      </div>
      <div class="col-md-2">
        <div *ngIf="modoEdit">
          <button type="button" class="btn btn-dark btn-sm, botonAdd" routerLink="/addEducacion/">Agregar+</button>
        </div> 
      </div>
    </div>
    <div class="table-responsive" *ngFor="let educacion of educaciones">
      <table class="table table-responsive table-rb- ">
        <thead>
          <tr>
            <th scope="col" colspan="12"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>{{educacion.id}}- {{educacion.institucion}}</p>
            </td>
            <td>
              <p>{{educacion.titulacion}}</p>
            </td>
            <td>
              <p>{{educacion.inicio_edu}}</p>
            </td>
            <td>
              <p>{{educacion.fin_edu}}</p>
            </td>
            <div *ngIf="modoEdit">
            <td>
              <button type="submit" class="btn btn-close-white btn-sm, botonAdd">
                <img class="botonEfecto"
                src="../assets/edit.png"
                id="editar" >
              </button>
            </td>
            <td>
              <button type="submit" class="btn btn-close-white btn-sm, botonAdd">
                <img class="nav-menu-link-img"
                  src="../assets/delete.png"
                  id="borrar">
              </button>
            </td>
          </div>
          </tr>
          <tr>
            <td colspan="4">
              <P>{{educacion.descripcion_edu}}</P>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
