<section id="educación" class="estudios">
  <div class="contenedor">
    <div class="row bg-dark p-2 bg-opacity-10">
      <div class="col-md-10">
        <h4>Educación</h4>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-responsive table-rb- ">
        <thead>
          <tr>
            <th scope="col" colspan="12"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>Institución</p>
            </td>
            <td>
              <p>Carrera/Curso/Titulación</p>
            </td>
            <td>
              <p>Desde</p>
            </td>
            <td>
              <p>Hasta</p>
            </td>
          </tr>
          <tr>
            <td colspan="4">
              <P>Decripcion: Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident hic aut ea,
                minima optio quasi ducimus repellendus</P>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
