<div>
  <div class="contenedor">
    <div class="row ">
      <div class="flex-shrink-0">
        <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
          <div class="mb-3">
            <label class="form-label">
              <h1>Login</h1>
              <p>Ingrese su email y contraseña</p>
            </label>
          </div>
          <div class="row">
            <div class="col-12 order-first">
              <div class="mb-3">
                <label class="form-label">
                  <p>Email</p><br>
                </label>
                <input type="email" aria-label=".form-control-sm example" formControlName="email"
                  [class.border-danger]="EmailValid">
                <div *ngIf="Email?.errors  && Email?.touched">
                  <p *ngIf="Email?.hasError('required')" class="error text-danger badge-danger my-2 py-2">
                    *El email es requerido.
                  </p>
                  <p *ngIf="Email?.hasError('email')" class="error text-danger badge-danger my-2 py-2">
                    *El formato del email debe ser válido.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 order-first">
              <div class="mb-3">
                <label class="form-label">
                  <p>Contraseña</p><br>
                </label>
                <input type="password" aria-label=".form-control-sm example" formControlName="password"
                  [class.border-danger]="PasswordValid">
                <div *ngIf="Password?.errors  && Password?.touched">
                  <p *ngIf="Password?.hasError('required')" class="error text-danger badge-danger my-2 py-2">
                    *La contraseña es requerida.
                  </p>
                  <p *ngIf="Password.errors?.minlength" class="error text-danger badge-danger my-2 py-2">
                    *La contraseña debe tener 8 carácteres como mínimo.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row d-flex">
            <div class="col-12 d-flex justify-content-end">
              <div class="mb-3 float-right">
                <button type="submit" class="btn btn-dark btn-sm">Enviar</button>
              </div>
            </div>
          </div>  
        </form>
      </div>
    </div>
  </div>
</div>