<div>
    <div class="contenedor">
        <div class="d-flex p-2 bd-highlight">
            <div class="flex-shrink-0">
                <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                    <div class="mb-3">
                        <label class="form-label">
                            <h1>Edite la experiencia</h1>
                            <h1></h1>
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-12 order-first">
                            <div class="mb-3">
                                <label for="formFileSm" class="form-label">
                                    <h5>Empresa</h5>
                                </label>
                                <input class="form-control form-control-sm" type="text" id="empresa" name="empresa"
                                [(ngModel)]="expeModelo.empresa" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 order-first">
                            <div class="mb-3">
                                <label for="formFileSm" class="form-label">
                                    <h5>Puesto</h5>
                                </label>
                                <input class="form-control form-control-sm" type="text" id="puesto" name="puesto"
                                [(ngModel)]="expeModelo.puesto" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 order-first">
                            <div class="mb-3">
                                <label for="formFileSm" class="form-label">
                                    <h5>Desde</h5>
                                </label>
                                <input class="form-control form-control-sm" type="text" id="inicio_exp" name="inicio_exp"
                                [(ngModel)]="expeModelo.inicio_exp" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 order-first">
                            <div class="mb-3">
                                <label for="formFileSm" class="form-label">
                                    <h5>Hasta</h5>
                                </label>
                                <input class="form-control form-control-sm" type="text" id="fin_exp" name="fin_exp"
                                [(ngModel)]="expeModelo.fin_exp" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 order-first">
                            <div class="mb-3">
                                <label for="formFileSm" class="form-label">
                                    <h5>Descripción</h5>
                                </label>
                                <textarea class="form-control form-control-sm" type="text" id="descripcion_exp" name="descripcion_exp"
                                [(ngModel)]="expeModelo.descripcion_exp" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex">
                         <div class="col-12 d-flex justify-content-end">
                             <div class="mb-3 float-right">
                                <br>
                                <button type="submit" class="btn btn-dark btn-sm">Editar Experiencia</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>