<div>
    <div class="contenedor">
        <div class="row bg-dark p-2 bg-opacity-10">
            <div class="flex-shrink-0">
                <form (ngSubmit)="onUpdate()" novalidate #fExper="ngForm">
                    <div class="mb-3">
                        <label class="form-label">
                            <h1>Edite la experiencia</h1>
                            <h1></h1>
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-12 order-first">
                            <div class="mb-3">
                                <label for="formFileSm" class="form-label">
                                    <h5>Empresa</h5>
                                </label>
                                <input class="form-control form-control-sm" type="text" id="idEmpresa" name="idEmpresa"
                                autocomplete="off" placeholder="Nombre de la empresa o emprendimiento"
                                [(ngModel)]="expeModelo.empresa" #idEmpresa="ngModel" required>
                                <div *ngIf="idEmpresa.invalid && (idEmpresa.dirty || idEmpresa.touched)" class="alert alert-danger">
                                    <div *ngIf="idEmpresa.errors['required']">
                                       *El nombre de la empresa/emprendimiento es requerido!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 order-first">
                            <div class="mb-3">
                                <label for="formFileSm" class="form-label">
                                    <h5>Puesto</h5>
                                </label>
                                <input class="form-control form-control-sm" type="text" id="idPuesto" name="idPuesto"
                                autocomplete="off" placeholder="Puesto o tarea"
                                [(ngModel)]="expeModelo.puesto" #idPuesto="ngModel" required>
                                <div *ngIf="idPuesto.invalid && (idPuesto.dirty || idPuesto.touched)" class="alert alert-danger">
                                    <div *ngIf="idPuesto.errors['required']">
                                       *El puesto/tarea es requerido!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 order-first">
                            <div class="mb-3">
                                <label for="formFileSm" class="form-label">
                                    <h5>Desde</h5>
                                </label>
                                <input class="form-control form-control-sm" type="text" id="idInicioExp" name="idInicioExp"
                                autocomplete="off" placeholder="Fecha o año de inicio"
                                [(ngModel)]="expeModelo.inicio_exp"  #idInicio_exp="ngModel" required>
                                <div *ngIf="idInicio_exp.invalid && (idInicio_exp.dirty || idInicio_exp.touched)" class="alert alert-danger">
                                    <div *ngIf="idInicio_exp.errors['required']">
                                        *La fecha/año de inicio es requerida!
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 order-first">
                            <div class="mb-3">
                                <label for="formFileSm" class="form-label">
                                    <h5>Hasta</h5>
                                </label>
                                <input class="form-control form-control-sm" type="text" id="idFin_exp" name="idFin_exp"
                                autocomplete="off" placeholder="Año de finalización o si continúa"
                                [(ngModel)]="expeModelo.fin_exp" #idFin_exp="ngModel" required>
                                <div *ngIf="idFin_exp.invalid && (idFin_exp.dirty || idFin_exp.touched)" class="alert alert-danger">
                                    <div *ngIf="idFin_exp.errors['required']">
                                       *Año de finalización o si se continúa es requerida!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 order-first">
                            <div class="mb-3">
                                <label for="formFileSm" class="form-label">
                                    <h5>Descripción</h5>
                                </label>
                                <textarea class="form-control form-control-sm" type="text" id="idDescripcion_exp" name="idDescripcion_exp"
                                autocomplete="off" placeholder="Descripcion de la experiencia"
                                [(ngModel)]="expeModelo.descripcion_exp" #idDescripcion_exp="ngModel" required>
                                </textarea>
                                <div *ngIf="idDescripcion_exp.invalid && (idDescripcion_exp.dirty || idDescripcion_exp.touched)" class="alert alert-danger">
                                    <div *ngIf="idFin_exp.errors['required']">
                                       *La descripcion de la experiencia es requerida!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex">
                         <div class="col-12 d-flex justify-content-end">
                             <div class="mb-3 float-right">
                                <br>
                                <button type="submit" class="btn btn-dark btn-sm" [disabled]="!fExper.form.valid">Editar Experiencia</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>