<div class="row">
    <h1>Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="20"
      [radius]="100"
      [showUnits]="false"
      [showTitle] = true
      [titleColor]="'#ff8800'"
      [showUnits] = true
      [subtitleColor]="'#ff8800'"
      [subtitleFontSize]="'1em'"
      [showSubtitle] = true
      [subtitle]="'HTML'"
      [outerStrokeWidth]="14"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#ff8800'"
      [innerStrokeColor]="'#b5b5b5'"
      [animation]="true"
      [animationDuration]="600"
   ></circle-progress>
    </div>
    <div class= "text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="20"
      [radius]="100"
      [showUnits]="false"
      [showTitle] = true
      [titleColor]="'#ff8800'"
      [showUnits] = true
      [subtitleColor]="'#ff8800'"
      [subtitleFontSize]="'1em'"
      [showSubtitle] = true
      [subtitle]="'CSS'"
      [outerStrokeWidth]="14"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#ff8800'"
      [innerStrokeColor]="'#b5b5b5'"
      [animation]="true"
      [animationDuration]="600"
   ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="10"
      [radius]="100"
      [showUnits]="false"
      [showTitle] = true
      [titleColor]="'#ff8800'"
      [showUnits] = true
      [subtitleColor]="'#ff8800'"
      [subtitleFontSize]="'1em'"
      [showSubtitle] = true
      [subtitle]="'JavaScript'"
      [outerStrokeWidth]="14"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#ff8800'"
      [innerStrokeColor]="'#b5b5b5'"
      [animation]="true"
      [animationDuration]="600"
   ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="20"
      [radius]="100"
      [showUnits]="false"
      [showTitle] = true
      [titleColor]="'#ff8800'"
      [showUnits] = true
      [subtitleColor]="'#ff8800'"
      [subtitleFontSize]="'1em'"
      [showSubtitle] = true
      [subtitle]="'Github'"
      [outerStrokeWidth]="14"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#ff8800'"
      [innerStrokeColor]="'#b5b5b5'"
      [animation]="true"
      [animationDuration]="600"
   ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="30"
      [radius]="100"
      [showUnits]="false"
      [showTitle] = true
      [titleColor]="'#ff8800'"
      [showUnits] = true
      [subtitleColor]="'#ff8800'"
      [subtitleFontSize]="'1em'"
      [showSubtitle] = true
      [subtitle]="'Inglés'"
      [outerStrokeWidth]="14"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#ff8800'"
      [innerStrokeColor]="'#b5b5b5'"
      [animation]="true"
      [animationDuration]="600"
   ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="100"
      [radius]="100"
      [showUnits]="false"
      [showTitle] = true
      [titleColor]="'#ff8800'"
      [showUnits] = true
      [subtitleColor]="'#ff8800'"
      [subtitleFontSize]="'1em'"
      [showSubtitle] = true
      [subtitle]="'Trabajo colaborativo'"
      [outerStrokeWidth]="14"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#ff8800'"
      [innerStrokeColor]="'#b5b5b5'"
      [animation]="true"
      [animationDuration]="600"
   ></circle-progress>
    </div>
</div>
