* {
    box-sizing: border-box;
}

.body {
    height: 100%;
    margin: 0;
    padding: 10px;
}

.contenedor {
    background: linear-gradient(#a895d4, #392b72);
    -webkit-text-fill-color: aliceblue;
    height: auto;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 3em;
    padding-right: 3em;
    border-radius: 1em;
}
#barras{
    padding-left: 6em;
    padding-right: 6em;
}
.progress{
    
}
.table.table-dark {
    margin-top: 3px;
    margin-right: 1px;
}
.botonAdd:hover{
    filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
    -khtml-opacity: 0.5;
 }
/*Texto responsive*/
h3 h4 h5 {
    font-size: 1rem;
}

p {
    font-weight: bold;
}

.nav-menu-link-img {
    padding: 2px;
    height: 2em;
}

@media(max-width: 768px) {
    .nav-menu-link-img {
        height: 2rem;
    }

    h3 h4 h5 {
        font-size: 1.2rem;
    }
    .contenedor{
        height: auto;
        margin-bottom: 0.5em;
        margin-left: 0.5em;
        margin-right: 0.5em;
        padding-top: 0.5em;
        border-radius: 0.5em;
     }
}