<div>
    <div class="contenedor">
        <div class="d-flex p-2 bd-highlight">
            <div class="flex-shrink-0">
                <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                    <div class="mb-3">
                        <label class="form-label">
                            <h1>Agregue un skill mas</h1>
                        </label>
                    </div>
                    <div class="row">
                        <div class="mb-3" class="form-group">
                            <label for="skill">
                                <h5>Skill</h5>
                            </label>
                            <input type="text" class="form-control form-control-sm" id="skill" name="skill" [(ngModel)]="skill"
                                required>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="mb-3" class="form-group">
                            <label for="porcentaje">
                                <h5>Porcentaje</h5>
                            </label>
                            <input type="number" class="form-control form-control-sm" id="porcentaje" name="porcentaje"
                                [(ngModel)]="porcentaje" required>
                                   
                        </div>
                    </div> <br>
                    <div class="row">
                    <!--Boton de guardado-->
                        <div class="col-10 order-first">
                            <div class="mb-3 float-right d-flex justify-content-end">
                                <button type="submit" class="btn btn-dark btn-sm">Agregar skill</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>