.row{
    margin-top: 15px;
    padding: 20px;
}
div{
    background-color: rgb(255, 226, 146);
    border-radius: 3em;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}
#nombreApellido{
   font-weight: bold;
   margin-top: 20%;
}


@media(max-width: 678px){ /*caundo llegue al minimo de pantalla(aqui se marco con 576px) va a pasar esto...*/
    #imagenPerfil{
        width: 35%;
        position: absolute;
        border-radius: 100%;
        border: shadow 3px 3px 3px grey;
        left:32%;
        z-index: 1;
        top:400px;
    }
 }
 @media(min-width: 679px){
#imagenPerfil{
    width: 16%;
    position: absolute;
    border-radius: 100%;
    border: shadow 3px 3px 3px grey;
    left:5%;
    z-index: 1;
    top:350px;
   }
 }


