<!-------ACERCA DE MI-------->
<section id="acerca_de" class="acerca">
   <div class="contenedor">
      <div class="d-flex p-2 bd-highlight">
         <div class="flex-shrink-0">
            <img class="img-responsive rounded-circle" id="imagenPerfil"
               [src]="url_foto"
               alt="...">
         </div>
         <div class="flex-grow-1 ms-3">
            <h3 small class="text-muted bg-dark  p-2 bg-opacity-10">{{nombre}} {{apellido}}</h3>
            <h5>{{titulo}}</h5>
            <br>
            <h5>{{acerca_de}}</h5>
         </div>
         <div class="flex-grow-1 ms-3">
         </div>
      </div>
   </div>
</section>
