<div class="row">
   <div class="contenedor">
      <div class="logo">
            <img src="../../../assets/APLogo-20-20.png" id="logoAP">
      </div>
      <div class="social">
            <a href=""><img src="../../../assets/github-white.png" id="github"></a>
            <a href=""><img src="../../../assets/linkedin-white.png" id="linkedin"></a>
            <a href=""><img src="../../../assets/facebook-white.png" id="facebook-white"></a>
            <a href=""><img src="../../../assets/twitter-square-white.png" id="twitter"></a>
            <a href=""><img src="../../../assets/instagram-white.png" id="instagram"></a>
            <button type="button" class="btn btn-outline-warning btn-sm">LOGIN</button>
      </div>
   </div>
</div>
