.contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-left: 0.5em;
}
.logo img{
    height: 40px;
}
.social{
    margin-right: 0.5em;
}
.social img{
    height: 30px;
}
.btn{
    border-width: medium;
    margin-left: 0.2em;
}
