<div class="row">
    <h1>Proyectos</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parteTexto">
           <h2>Proyecto 1</h2>
           <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat, dolores ut sed voluptatum totam, voluptates recusandae itaque eum tempore officia ipsa cumque aperiam magni earum ducimus, repellat sunt possimus perferendis?</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1  offset parteLinkImagen">
           <a href="../../../assets/proyecto1.png" color="blue"><img src="../../../assets/proyecto1.png" class="img-fluid img-proyecto"></a>
        </div>
    </div>
</div>
